## Sport predictor using Olympics Data

Using an Olympics data set from: https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results?resource=download, this project seeks to use Age, sex, height, weight and Team(NOC) to predict what sport they should be competing in.

#### CSV file columns: 
Name - Athlete's name
Sex - M or F
Age - Integer
Height - In centimeters
Weight - In kilograms
Team - Team name
NOC - National Olympic Committee 3-letter code
Games - Year and season
Year - Integer
Season - Summer or Winter
City - Host city
Sport - Sport
Event - Event
Medal - Gold, Silver, Bronze, or NAN

#### Imports

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [19]:
df = pd.read_csv('athlete_events.csv')
df.shape

(271116, 15)

### Part 1: Clean Data and Prep Data

In [20]:
df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
df = df.loc[(df['Season'] == "Summer") ]

In [22]:
df.shape

(222552, 15)

In [23]:
df = df[["Sex", "Age", "Height", "Weight", "NOC", "Sport"]]
df.head(5)

   Sex   Age  Height  Weight  NOC       Sport
0    M  24.0   180.0    80.0  CHN  Basketball
1    M  23.0   170.0    60.0  CHN        Judo
2    M  24.0     NaN     NaN  DEN    Football
3    M  34.0     NaN     NaN  DEN  Tug-Of-War
26   F  18.0   168.0     NaN  NED   Athletics

In [24]:
df = df[df["Sport"].notnull()]
df.head(5)

   Sex   Age  Height  Weight  NOC       Sport
0    M  24.0   180.0    80.0  CHN  Basketball
1    M  23.0   170.0    60.0  CHN        Judo
2    M  24.0     NaN     NaN  DEN    Football
3    M  34.0     NaN     NaN  DEN  Tug-Of-War
26   F  18.0   168.0     NaN  NED   Athletics

In [25]:
df.shape

(222552, 6)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222552 entries, 0 to 271110
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sex     222552 non-null  object
 1   Age     213363 non-null  float64
 2   Height  170695 non-null  float64
 3   Weight  168698 non-null  float64
 4   NOC     222552 non-null  object
 5   Sport   222552 non-null  object
dtypes: float64(3), object(3)
memory usage: 11.9+ MB

In [35]:
#Drop all NaN - this is a brute force way of doing it 
df =df.dropna()
df.isnull().sum()

df.head(5)

   Sex   Age  Height  Weight  NOC       Sport
0    M  24.0   180.0    80.0  CHN  Basketball
1    M  23.0   170.0    60.0  CHN        Judo
31   M  31.0   172.0    70.0  FIN   Badminton
32   F  30.0   159.0    55.5  FIN     Sailing
33   F  34.0   159.0    55.5  FIN     Sailing

In [36]:
df.shape

(166706, 6)

In [37]:
df.isnull().values.any()

False

In [38]:
df.shape

(166706, 6)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166706 entries, 0 to 271110
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sex     166706 non-null  object
 1   Age     166706 non-null  float64
 2   Height  166706 non-null  float64
 3   Weight  166706 non-null  float64
 4   NOC     166706 non-null  object
 5   Sport   166706 non-null  object
dtypes: float64(3), object(3)
memory usage: 8.9+ MB

### Countries

In [17]:
df["NOC"].value_counts()

NOC
USA    10988
GBR     6878
FRA     6274
AUS     6210
ITA     5681
       ...
SAA        3
SSD        3
YMD        2
UAR        1
NFL        1
Name: count, Length: 226, dtype: int64

In [57]:
def country_info(country): 
    df2 = df.loc[df['NOC'] == country, ['NOC', 'Sport']].copy()

    grouped_df = df2.groupby('Sport').size().reset_index(name='Count')

    plt.bar(grouped_df['Sport'], grouped_df['Count'], align='center', alpha=0.5)
    plt.xticks(rotation=90)
    plt.ylabel('Count')
    plt.title('Number of Sports for Country:' + country)

    plt.tight_layout()
    plt.show()

    print(grouped_df)

In [58]:
country_info(USA)

NameError: name 'USA' is not defined

In [ ]:
fig, ax = plt.subplots(1,1, figsize=(12,7))
df1.boxplot('Salary', 'Country' , ax=ax)
plt.suptitle('Salary (US$) v Country')
plt.title('')
plt.ylabel('Salary')
plt.xticks(rotation=90)
plt.show()

In [73]:
def shorten_categories(categories, cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map

In [74]:
NOC_map = shorten_categories(df.NOC.value_counts(), 400)
df['NOC'] = df['NOC'].map(NOC_map)
df.NOC.value_counts()

NOC
Other    15967
USA      10988
GBR       6878
FRA       6274
AUS       6210
         ...
MAR        443
UZB        428
MGL        424
CHI        406
LUX        402
Name: count, Length: 72, dtype: int64

In [75]:
df["Sport"].unique()

array(['Basketball', 'Judo', 'Badminton', 'Sailing', 'Gymnastics',
       'Athletics', 'Weightlifting', 'Wrestling', 'Rowing', 'Swimming',
       'Football', 'Equestrianism', 'Shooting', 'Taekwondo', 'Boxing',
       'Fencing', 'Diving', 'Canoeing', 'Handball', 'Water Polo',
       'Tennis', 'Cycling', 'Hockey', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Modern Pentathlon', 'Table Tennis',
       'Baseball', 'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Golf', 'Rugby', 'Tug-Of-War',
       'Ice Hockey', 'Art Competitions', 'Lacrosse', 'Motorboating',
       'Figure Skating'], dtype=object)

In [81]:
df["Sport"].value_counts()

Sport
Athletics                32374
Swimming                 18776
Gymnastics               18271
Rowing                    7790
Cycling                   7775
Shooting                  7260
Fencing                   6537
Canoeing                  5550
Wrestling                 5186
Sailing                   4863
Equestrianism             4553
Football                  4443
Boxing                    4363
Hockey                    4264
Basketball                3668
Judo                      3366
Handball                  3319
Volleyball                3277
Weightlifting             2974
Water Polo                2719
Diving                    2011
Tennis                    2008
Archery                   1883
Table Tennis              1789
Badminton                 1362
Modern Pentathlon         1259
Synchronized Swimming      849
Baseball                   846
Rhythmic Gymnastics        615
Taekwondo                  596
Beach Volleyball           538
Triathlon                  526
Softball                   441
Rugby Sevens               297
Trampolining               149
Golf                       108
Rugby                       30
Art Competitions            28
Tug-Of-War                  20
Ice Hockey                  18
Lacrosse                     2
Figure Skating               2
Motorboating                 1
Name: count, dtype: int64

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (6,) + inhomogeneous part.

In [80]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import OrdinalEncoder

# Create a single-column DataFrame for the 'Sport' variable
df_sport = pd.DataFrame(df['Sport'], columns=['Sport'])

# Initialize the OrdinalEncoder
ord_enc = OrdinalEncoder()

# Fit and transform the 'Sport' column
enc_sport = ord_enc.fit_transform(df_sport)

# C

ValueError: array length 166706 does not match index length 230904

In [69]:
df.isnull().values.any()

False

#### Types of Data

In [70]:
df.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [71]:
categorical_columns = df[["Name","Sex","Team", "NOC", "Games", "Season","City","Sport", "Event","Medal"]].columns

numerical_columns = df[["Age","Height","Weight" ]].columns

for column in categorical_columns:
    df[column] = df[column].astype('category')

for i in numerical_columns:
    df[i] = df[i].astype('int')

#### Create a new column for possible use later

In [72]:

conditions = [
    (df['Medal'] == 'Bronze'),
    (df['Medal'] == "Silver"),
    (df['Medal'] == 'Gold'),
    (df['Medal'].isna()),
    ]

#values = ['Winner3', 'Winner2', 'Winner1','Not qualified']
values2 = ['True', 'True', 'True', "False"]

In [73]:
#df['Status'] = np.select(conditions, values)
df['Winner'] = np.select(conditions, values2)
# display updated DataFrame
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Winner
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0,0
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0,0
2,3,Gunnar Nielsen Aaby,M,24,0,0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0,0
3,4,Edgar Lindenau Aabye,M,34,0,0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,True
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0,0

In [74]:
#There are duplicates that need to be dealt with 
print('Number of duplicate rows in the table is: ', df.duplicated().sum())
print('Number of duplicate  columns in the table is: ', df.columns.duplicated().sum())

Number of duplicate rows in the table is:  1385
Number of duplicate  columns in the table is:  0

In [75]:
['CHN' 'DEN' 'NED' 'USA' 'FIN' 'NOR' 'ROU' 'EST' 'FRA' 'MAR' 'ESP' 'EGY'
 'IRI' 'BUL' 'ITA' 'CHA' 'AZE' 'SUD' 'RUS' 'ARG' 'CUB' 'BLR' 'GRE' 'CMR'
 'TUR' 'CHI' 'MEX' 'URS' 'NCA' 'HUN' 'NGR' 'ALG' 'KUW' 'BRN' 'PAK' 'IRQ'
 'UAR' 'LIB' 'QAT' 'MAS' 'GER' 'CAN' 'IRL' 'AUS' 'RSA' 'ERI' 'TAN' 'JOR'
 'TUN' 'LBA' 'BEL' 'DJI' 'PLE' 'COM' 'KAZ' 'BRU' 'IND' 'KSA' 'SYR' 'MDV'
 'ETH' 'UAE' 'YAR' 'INA' 'PHI' 'SGP' 'UZB' 'KGZ' 'TJK' 'EUN' 'JPN' 'CGO'
 'SUI' 'BRA' 'FRG' 'GDR' 'MON' 'ISR' 'URU' 'SWE' 'ISV' 'SRI' 'ARM' 'CIV'
 'KEN' 'BEN' 'UKR' 'GBR' 'GHA' 'SOM' 'LAT' 'NIG' 'MLI' 'AFG' 'POL' 'CRC'
 'PAN' 'GEO' 'SLO' 'CRO' 'GUY' 'NZL' 'POR' 'PAR' 'ANG' 'VEN' 'COL' 'BAN'
 'PER' 'ESA' 'PUR' 'UGA' 'HON' 'ECU' 'TKM' 'MRI' 'SEY' 'TCH' 'LUX' 'MTN'
 'CZE' 'SKN' 'TTO' 'DOM' 'VIN' 'JAM' 'LBR' 'SUR' 'NEP' 'MGL' 'AUT' 'PLW'
 'LTU' 'TOG' 'NAM' 'AHO' 'ISL' 'ASA' 'SAM' 'RWA' 'DMA' 'HAI' 'MLT' 'CYP'
 'GUI' 'BIZ' 'YMD' 'KOR' 'THA' 'BER' 'ANZ' 'SCG' 'SLE' 'PNG' 'YEM' 'IOA'
 'OMA' 'FIJ' 'VAN' 'MDA' 'YUG' 'BAH' 'GUA' 'SRB' 'IVB' 'MOZ' 'CAF' 'MAD'
 'MAL' 'BIH' 'GUM' 'CAY' 'SVK' 'BAR' 'GBS' 'TLS' 'COD' 'GAB' 'SMR' 'LAO'
 'BOT' 'ROT' 'CAM' 'PRK' 'SOL' 'SEN' 'CPV' 'CRT' 'GEQ' 'BOL' 'SAA' 'AND'
 'ANT' 'ZIM' 'GRN' 'HKG' 'LCA' 'FSM' 'MYA' 'MAW' 'ZAM' 'RHO' 'TPE' 'STP'
 'MKD' 'BOH' 'TGA' 'LIE' 'MNE' 'GAM' 'COK' 'ALB' 'WIF' 'SWZ' 'BUR' 'NBO'
 'BDI' 'ARU' 'NRU' 'VNM' 'VIE' 'BHU' 'MHL' 'KIR' 'UNK' 'TUV' 'NFL' 'KOS'
 'SSD' 'LES']

['CHNDENNEDUSAFINNORROUESTFRAMARESPEGYIRIBULITACHAAZESUDRUSARGCUBBLRGRECMRTURCHIMEXURSNCAHUNNGRALGKUWBRNPAKIRQUARLIBQATMASGERCANIRLAUSRSAERITANJORTUNLBABELDJIPLECOMKAZBRUINDKSASYRMDVETHUAEYARINAPHISGPUZBKGZTJKEUNJPNCGOSUIBRAFRGGDRMONISRURUSWEISVSRIARMCIVKENBENUKRGBRGHASOMLATNIGMLIAFGPOLCRCPANGEOSLOCROGUYNZLPORPARANGVENCOLBANPERESAPURUGAHONECUTKMMRISEYTCHLUXMTNCZESKNTTODOMVINJAMLBRSURNEPMGLAUTPLWLTUTOGNAMAHOISLASASAMRWADMAHAIMLTCYPGUIBIZYMDKORTHABERANZSCGSLEPNGYEMIOAOMAFIJVANMDAYUGBAHGUASRBIVBMOZCAFMADMALBIHGUMCAYSVKBARGBSTLSCODGABSMRLAOBOTROTCAMPRKSOLSENCPVCRTGEQBOLSAAANDANTZIMGRNHKGLCAFSMMYAMAWZAMRHOTPESTPMKDBOHTGALIEMNEGAMCOKALBWIFSWZBURNBOBDIARUNRUVNMVIEBHUMHLKIRUNKTUVNFLKOSSSDLES']

## Part 2: Prepare for Machine Learning

#### Drop columns
The aim of this project is to take someones Sex, Age, Height, Weight and Nationality (Team) and train and ML model to find someone's sport and later possibly their likely hood of winning or medal.

In [76]:
newdf = df.drop(columns=['ID','Name', 'Team', 'Year','Season','City','Event','Medal',"Games", "Winner"])
newdf.head(5)

  Sex  Age  Height  Weight  NOC          Sport
0   M   24     180      80  CHN     Basketball
1   M   23     170      60  CHN           Judo
2   M   24       0       0  DEN       Football
3   M   34       0       0  DEN     Tug-Of-War
4   F   21     185      82  NED  Speed Skating

In [77]:
#Change Sex to 0 and 1 
newdf['Sex'] = df['Sex'].map({'M': 1, 'F': 0})
newdf.head(5)

  Sex  Age  Height  Weight  NOC          Sport
0   1   24     180      80  CHN     Basketball
1   1   23     170      60  CHN           Judo
2   1   24       0       0  DEN       Football
3   1   34       0       0  DEN     Tug-Of-War
4   0   21     185      82  NED  Speed Skating

#### Seprate target into y

In [100]:
#### 
#newdf = newdf.sample(frac = 1) shuffled - laer use 

# The target y is sport 
#ydf = newdf["Sport"]
#ydf = ydf.rename("SportColumnName")
ydf = pd.DataFrame({"Sports": newdf["Sport"]})

# X is all the everything else 
Xdf = newdf.drop(["Sport"], axis=1)

### Encode the categorical Data

In [104]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output = False).set_output(transform='pandas')
ohetransform =ohe.fit_transform(ydf[["Sports"]])
y = pd.concat([ydf,ohetransform], axis=1).drop(columns = ["Sports"])

,Sports_Aeronautics,Sports_Alpine Skiing,Sports_Alpinism,Sports_Archery,Sports_Art Competitions,Sports_Athletics,Sports_Badminton,Sports_Baseball,Sports_Basketball,Sports_Basque Pelota,...,Sports_Table Tennis,Sports_Taekwondo,Sports_Tennis,Sports_Trampolining,Sports_Triathlon,Sports_Tug-Of-War,Sports_Volleyball,Sports_Water Polo,Sports_Weightlifting,Sports_Wrestling
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output = False).set_output(transform='pandas')
ohetransform =ohe.fit_transform(Xdf[["NOC"]])
X = pd.concat([Xdf,ohetransform], axis=1).drop(columns = ["NOC"])

## Part 3: Machine learning Models

In [105]:
## Split the dataset into two datasets: 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100, )

In [108]:
# need to reset the index to allow contatenation with predicted values otherwise not joining on same index...
X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [109]:
multiple_linreg = LinearRegression().fit(X_train, y_train)

DecisionTreeClassifier()

In [36]:
lr = LinearRegression()
lr.fit(X_train, y_train)

ValueError: could not convert string to float: 'Ice Hockey'

In [115]:
print("\nDescriptive features in X:\n", X_train.head(5))
print("\nTarget feature in y:\n", y_train.head(5))

Descriptive features in X:
   Sex  Age  Height  Weight  NOC_AFG  NOC_AHO  NOC_ALB  NOC_ALG  NOC_AND  \
0   1   28     181      88      0.0      0.0      0.0      0.0      0.0
1   0   19     175      70      0.0      0.0      0.0      0.0      0.0
2   1   23     184      76      0.0      0.0      0.0      0.0      0.0
3   1   26     195     102      0.0      0.0      0.0      0.0      0.0
4   1   39       0       0      0.0      0.0      0.0      0.0      0.0

   NOC_ANG  ...  NOC_VIE  NOC_VIN  NOC_VNM  NOC_WIF  NOC_YAR  NOC_YEM  \
0      0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
1      0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
2      0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
3      0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
4      0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0

   NOC_YMD  NOC_YUG  NOC_ZAM  NOC_ZIM
0      0.0      0.0      0.0      0.0
1      0.0      0.0      0.0      0.0
2      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0
4      0.0      0.0      0.0      0.0

[5 rows x 234 columns]

Target feature in y:
    Sports_Aeronautics  Sports_Alpine Skiing  Sports_Alpinism  Sports_Archery  \
0                 0.0                   0.0              0.0             0.0
1                 0.0                   0.0              0.0             0.0
2                 0.0                   0.0              0.0             0.0
3                 0.0                   0.0              0.0             0.0
4                 0.0                   0.0              0.0             0.0

   Sports_Art Competitions  Sports_Athletics  Sports_Badminton  \
0                      0.0               0.0               0.0
1                      0.0               0.0               0.0
2                      0.0               0.0               0.0
3                      0.0               0.0               0.0
4                      0.0               0.0               0.0

   Sports_Baseball  Sports_Basketball  Sports_Basque Pelota  ...  \
0              0.0                0.0                   0.0  ...
1              0.0                0.0                   0.0  ...
2              0.0                0.0                   0.0  ...
3              0.0                0.0                   0.0  ...
4              0.0                0.0                   0.0  ...

   Sports_Table Tennis  Sports_Taekwondo  Sports_Tennis  Sports_Trampolining  \
0                  0.0               0.0            0.0                  0.0
1                  0.0               0.0            0.0                  0.0
2                  0.0               0.0            0.0                  0.0
3                  0.0               0.0            0.0                  0.0
4                  0.0               0.0            0.0                  0.0

   Sports_Triathlon  Sports_Tug-Of-War  Sports_Volleyball  Sports_Water Polo  \
0               0.0                0.0                0.0                0.0
1               0.0                0.0                0.0                0.0
2               0.0                0.0                0.0                0.0
3               0.0                0.0                0.0                1.0
4               0.0                0.0                0.0                0.0

   Sports_Weightlifting  Sports_Wrestling
0                   0.0               0.0
1                   0.0               0.0
2                   0.0               0.0
3                   0.0               0.0
4                   0.0               0.0

[5 rows x 66 columns]